body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #4682b4);
  margin: 0;
  padding: 2em 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #4682b4;
  margin: 0;
  padding: 10px 0;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.search-bar input {
  padding: 10px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar .button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #4682b4, #223e49);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  /* box-shadow: 0px 4px 4px 1px #333; */
}

.search-bar button:hover {
  background: linear-gradient(45deg, #5a9bd4, #add8e6);
}

.weather-display {
  margin: 20px 0;
}

.weather-display h2 {
  color: #333;
  margin: 10px 0;
}

.weather-display p {
  color: #666;
  margin: 20px 0;
}

.weather-info {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-weather,
.forecast {
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-info i {
  font-size: 24px;
  margin-left: 5px;
  color: #ffd700;
}

.forecast-grid p {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.forecast-grid p:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loader {
  font-size: 18px;
  color: #4682b4;
  display: none;
  animation: spin 1s linear infinite;
}

.weather-icon {
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: darkblue;
  justify-content: center;
}

.weather-icon.sm {
  width: 3em;
  height: 3em;
}
.weather-icon.sm > img {
  width: 2em;
  height: 2em;
  object-fit: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: 20px;
  color: #666;
}

@media (max-width: 600px) {
  .container {
    width: 80vw;
  }
  .search-bar {
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }
  .search-bar > * + * {
    margin-top: 0.5em;
  }
  .weather-info {
    flex-direction: column;
  }
}
